/songs.sbd
/songbook_ereader.pdf
/songbook_print.pdf
/lbauth.sbx
/lbauth.sxd
/lbtitle.sbx
/lbtitle.sxd
/songbook_display.aux
/songbook_display.log
/songbook_display.out
/songbook_display.pdf
/songbook_display.sxc
/songbook_ereader.aux
/songbook_ereader.log
/songbook_ereader.out
/songbook_ereader.sxc
/songbook_print.aux
/songbook_print.log
/songbook_print.out
/songbook_print.sxc
